astroid==1.6.2
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
Django>=2.1
glob2==0.6
html2text==2014.12.29
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.6.3
mccabe==0.6.1
pip-autoremove==0.9.0
powerline-gitstatus==1.2.1
powerline-status==2.6
psycopg2==2.7.4
pylint==1.8.3
PySocks==1.6.8
pytz==2018.3
PyYAML>=4.2b1
requests>=2.20.0
six==1.11.0
urllib3>=1.24.2
wrapt==1.10.11
yattag==1.10.0
yify-sub==0.1.0
